@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-p: #3f3f3f;
    --cor-s: #f6f6f6;
    --cor-t: purple;
    --cor-q: #8C8149;
    --cor-hover: gray;
    --cor-i: #111111;

    --font-p: "Oswald", sans-serif;
    --font-s: "Roboto", sans-serif;
}

html {
    font-family: var(--font-s);
    font-weight: 500;
}

body {
    margin: auto;
    box-sizing: border-box;
    background-color: var(--cor-i);
    color: var(--cor-s) ;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER */

nav {
    margin: auto;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    width: 5%;
    padding: 0% 2% 0% 0%;
    transition: .2s;
}

.logo-icon:hover {
    opacity: 100%;
    transform: scale(1.2);
}

.logo-style {
    color: var(--cor-s);
}

.logo {
    font-family: var(--font-p);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.menu-link {
    color:var(--cor-s);
}

.menu-link:hover {
    color: var(--cor-q);
}

.menu-2 {
    display: flex;
    flex-direction: row;
}

.menu-home {
    color: var(--cor-s);
    padding-top: 0.5rem;
    padding-right: 2rem;
    text-transform: uppercase;
    transition: .2s;
}

.menu-home:hover {
    opacity: 100%;
    transform: scale(1.1);
}

.icon-redes {
    width: 45%;
    transition: .2s;
}

.icon-redes:hover {
    opacity: 100%;
    transform: scale(1.5);
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-p);
}

/* SECTION 1 */

.hero {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4.5% 10% 10% 3%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0% 0% 0% 5%;
}

/* SECTION 1 - TEXTO */

.hero-content-title {
    font-size: 3.9rem;
    padding: 4% 0% 4% 0%;
}

.hero-content-desc {
    padding: 5% 0%;
    font-size: 2rem;
    font-weight: 200;
}


/* SECTION 1 - IMAGEM */

.hero-images {
    display: flex;
    box-sizing: border-box;
    width: 28.125rem;
    height: 28.125rem;
    margin: 2% 7% 0% 0%;
}

.hero-images-image {
    transition: .2s;
}

.hero-images-image:hover {
    opacity: 100%;
    transform: scale(1.05);
}

/* SECTION 2 */

.hero-2 {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    background-color: var(--cor-s);
    color: var(--cor-i);
}

.hero-2-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5% 12% 2% 10%;
    padding: 2% 5% 5% 0%;
    gap: 1rem;
}

/* SECTION 2 - TEXTO */

.hero-2-content-title {
    font-size: 3rem;
    padding: 4% 0% 4% 0%;
}

.destaque-caps {
    text-transform: uppercase;

}

.hero-2-content-line {
    color: var(--cor-i);
    border: solid 1px;
}

.hero-2-content-text {
    padding: 5% 0%;
    font-size: 1.9rem;
    font-weight: 300;
    text-align: justify;
}

/* SECTION 2 - IMAGEM */

.hero-images-2 {
    display: flex;
    box-sizing: border-box;
    width: 450px;
    height: 450px;
    padding: 10%;
    margin: 20% 0% 0% 20%;
    transition: .2s;
}

.hero-images-2:hover {
    opacity: 100%;
    transform: scale(1.1);
}

/* SECTION 3 */

.hero-3 {

    background-color: var(--cor-s);
    color: var(--cor-i);
}

.hero-3-content {
    text-align: center;
    align-items: center;
}

.hero-3-content-title {
    padding: 7% 0% 2% 0%;
    font-size: 3rem;
    font-weight: 700;
}

.hero-3-content-line {
    color: var(--cor-i);
    border: solid 1px;
    margin: 0% 20% 10% 20%;
}

/* LISTA */

.hero-3-content-list {
    display: flex;
    justify-content: center;
    margin: 0% 8% 8% 8%;
    gap: 10rem;
    font-size: 1.5rem;
}

.list-item-image {
    width: 200px;
    height: 200px;
    margin: 0% 0% 15% 0%;
    transition: .2s;
}

.list-item-image:hover {
    opacity: 100%;
    transform: scale(1.2);
}

.list-line {
    color: var(--cor-i);
    border: solid 1px;
    margin: 5% 0% 8% 0%;
}

.list-text {
    font-weight: 300;
}

/* FOOTER */

.mainfooter {
    background-color: var(--cor-i);
    white-space: var(--cor-s)    ;
}

.mainfooter-content {
    text-align: center;
    align-items: center;
}

.footer-menu {
    display: flex;
    justify-content: center;
    padding: 2% 0% 0% 0%;

}

.footer-text {
    padding: 1% 0% 2% 0%;
    font-size: 1.2em;
}

@media (max-width: 1200px) {

    .hero {
        padding: 10% 10% 10% 10%;
        flex-direction: column-reverse;
    }

    .main {
        display: flex;
        padding: 7%;
    }

    .hero-images-image {
        width: auto;
    }
}